.container {
    height: 56px;
    display: flex;
    background-color:rgb(33, 33, 33);
    border-bottom:1px solid #303030;
    justify-content: space-between;
    align-items: center;
    padding-left: 72px;
    position: fixed;
    width: 100vw;
    z-index: 0;
    padding: 0 20px;
}
.leftHeader {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.centerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconLogo {
    margin-left: 50px;
    height: 20px;
}

.buttonSearch {
    padding: 0px;
    cursor: pointer;
    height: 30px;
    width: 65px;
    background-color: #303030;
    border: none;
}
.iconSearch {
    margin-right: 5px;
    height: 15px;
    color: #fff;
}
.search  {
    display: flex;
    border: 1px solid #303030;
    background-color: #181818;
    width: 460px;
    height: 30px;
    font-size: 17px;
    padding: 0 6px;
    outline: none;
    border-radius: 3px 0 0px 3px;
    color: rgb(197, 197, 197);
}
.search:focus{
    border: 1px solid #1C62B9;
}
.rightHeader{
    display: flex;
    align-items: center;
}
.rightIcons{
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.imgConta{
    margin-right: 10px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}

