.container {
    height: 56px;
    display: flex;
    background-color: #202020;
    border-bottom:1px solid #303030;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logoImg {
    margin-right: 5px;
    height: 30px;
}

